{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>
                {{ form_start(registrationForm) }}
                <fieldset class="mb-3">
                    <legend>Informations d'utilisateur</legend>
                    <div class="form-group">
                        {{ form_row(registrationForm.username) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                </fieldset>

                <fieldset class="mb-3">
                    <legend>Conditions d'utilisation</legend>
                    <div class="form-group">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                </fieldset>

                <button type="submit" class="btn btn-primary btn-lg my-3">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
