{% extends 'base.html.twig' %}

{% block title %}Index des tâches{% endblock %}

{% block body %}
    <h1>Vos tâches</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            {% if task.user == app.user %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.titre }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.statut ? 'Oui' : 'Non' }}</td>
                <td>{{ task.dateCrea ? task.dateCrea|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">Voir</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">Éditer</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">Aucune tâche enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_new') }}">Créer une nouvelle tâche</a>
{% endblock %}
